body {
  background-color: #00c3ffc0 ;}
h1{color: #0033ff;}
p{ 
   front-size:16 px;
   color: #ccf7ff ; 
} 
header {
   border-bottom:solid 3px #ca9c11 ;
  padding: 10px ;
  font-size: 22px;
  color:white;
}
